version: '3.8'

services:
  db:
    image: postgres:15
    container_name: paymeback-postgres
    environment:
      POSTGRES_DB: pay-me-back
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:7.2
    container_name: paymeback-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--appendonly", "yes" ]

volumes:
  db-data:
  redis-data: